.btn{
    font-weight: bold;
    font-size: 1rem !important; 
    margin: 1rem;
    grid-row: 7/8;
    grid-column: 3/4;
    font-family: 'Comforter', cursive;
    font-family: 'Supermercado One', cursive;
}