.btn{
    font-weight: bold;
    font-size: 1.5rem !important; 
    margin: 10px;
    grid-row: 7/8;
    grid-column: 4/5;
    font-family: 'Comforter', cursive;
    font-family: 'Supermercado One', cursive;
}